@model midterm_project.Models.Pet

<div>
    <div>
        <label asp-for="PetName"></label>
        <input class="formInput" asp-for="PetName" />
        <div class="text-danger text-end"><span asp-validation-for="PetName"></span></div>
    </div>

    <div>
        <label asp-for="PetURL"></label>
        <input class="formInput" asp-for="PetURL" />
        <div class="text-danger text-end"><span asp-validation-for="PetURL"></span></div>
    </div>

    <div>
        <label asp-for="PetDescription"></label>
        <input class="formInput" asp-for="PetDescription" />
        <div class="text-danger text-end"><span asp-validation-for="PetDescription"></span></div>
    </div>

    <div>
        <label asp-for="PetAge"></label>
        <input class="formInput" asp-for="PetAge" />
        <div class="text-danger text-end"><span asp-validation-for="PetAge"></span></div>
    </div>

    <div>
        <label asp-for="PetBreed"></label>
        <input class="formInput" asp-for="PetBreed" />
        <div class="text-danger text-end"><span asp-validation-for="PetBreed"></span></div>
    </div>

    <div>
        <label asp-for="PetColor"></label>
        <input class="formInput" asp-for="PetColor" />
        <div class="text-danger text-end"><span asp-validation-for="PetColor"></span></div>
    </div>

    <div>
        <label asp-for="PetSize"></label>
        <input class="formInput" asp-for="PetSize" />
        <div class="text-danger text-end"><span asp-validation-for="PetSize"></span></div>
    </div>
</div>