@model IEnumerable<midterm_project.Models.Pet>

@{
    ViewData["Title"] = "Add a Pet";
}

<div><h1>Add New Pet</h1></div>

<div class="formContainer">
    <form asp-controller="Pet" asp-action="Add" method="post">


        @await Html.PartialAsync("_PetInput", Model)


        <input class="btn btn-primary float-end" type="submit" value="Save">
        <a class="btn btn-light" asp-controller="Pet" asp-action="List">Back</a>
    </form>
</div>