@model IEnumerable<midterm_project.Models.Pet>

@{
    ViewData["Title"] = "Add a Pet";
}

<div>
    <form asp-controller="Pet" asp-action="Add" method="post">
        <h1>Add New Pet</h1>

        @await Html.PartialAsync("_PetInput", Model)

        <input type="submit" value="Save">

    </form>
</div>